

<div >
  <div class="row d-flex justify-content-center text-center social-media">
    <h1 class="mt-5 mb-3">Lets Connect</h1>
    <app-underline-svg class="text-center"  [lineType]="'doubleLine'"></app-underline-svg>
    <div class="col-md-8 text-center">
      <ul >
        <li class="p-3"><img [src]="facebook" title="Facebook" ></li>
        <li class="p-3"><img [src]="github" title="Github" ></li>
        <li class="p-3"><img [src]="linkedin" title="Gmail" ></li>
        <li class="p-3"><img [src]="gmail"  title="Gmail" ></li>
        <li class="p-3"><img [src]="instagram" title="Instagram" ></li>
      </ul>
    </div>
  </div>
</div>
