<div class="row d-flex justify-content-center ">
  <div class="col-md-1 text-center hire-me-layout pt-5 pb-5 ">
    <!-- <fa-icon [icon]=""></fa-icon> -->
    <h1><i class="bi bi-envelope-at-fill"></i></h1>
  </div>
  <div class="col-md-1 text-center hire-me-layout pt-5 pb-5 ">
    <!-- <fa-icon [icon]=""></fa-icon> -->
    <h1><i class="bi bi-envelope-at-fill"></i></h1>
  </div>
  <div class="col-md-1 text-center hire-me-layout pt-5 pb-5 ">
    <!-- <fa-icon [icon]=""></fa-icon> -->
    <h1><i class="bi bi-envelope-at-fill"></i></h1>
  </div>
  <div class="col-md-1 text-center hire-me-layout pt-5 pb-5 ">
    <!-- <fa-icon [icon]=""></fa-icon> -->
    <h1><i class="bi bi-envelope-at-fill"></i></h1>
  </div>
  <div class="col-md-1 text-center hire-me-layout pt-5 pb-5 ">
    <!-- <fa-icon [icon]=""></fa-icon> -->
    <h1><i class="bi bi-envelope-at-fill"></i></h1>
  </div>
</div>

<!--
<i class="fa-brands fa-google"></i>
<i class="fa-brands fa-twitter"></i>
<i class="fa-brands fa-instagram"></i>
<i class="fa-brands fa-linkedin"></i>
<i class="fa-brands fa-linkedin"></i>
-->
