<app-connect></app-connect>
<app-banner>
  <div class="row" bannerContent>
    <div class="col-md-5"></div>
    <div class="col-md-7">
      <h1 class="flex-header-h1">About Me</h1>
      <div class="text-content">
        <p>
          <strong> <fa-icon  [icon]="faQuoteLeft" ></fa-icon >  I am a professional software developer with 5 years of experience in software design,
        development, and integration. Offering advanced knowledge of Javascript, Typescript, Angular Framework, Java ,Spring,
        Hibernate , Jquery and Javascript.
        Writing code and creating Web applications is my background.
        <fa-icon  [icon]="faQuoteRight" ></fa-icon >
          </strong>
        </p>
      </div>

    </div>
  </div>
  <!-- <fa-icon [icon]="faGraduationCap"></fa-icon> -->
</app-banner>

<app-my-resume ></app-my-resume>

<app-hire-me></app-hire-me>

<app-chat-box></app-chat-box>

<app-footer></app-footer>

