<!-- <div class="row m-5 min-vh-50 min-vh-50 d-flex justify-content-center">
  <div class="col-md-12 text-center">
    <h3><fa-icon [icon]="faLaptopFile"></fa-icon> Experience </h3>
    <app-underline-svg class="text-center"></app-underline-svg>
  </div>
</div> -->


<div class="row m-5 min-vh-50 d-flex justify-content-center">
  <div class="col-md-8 text-center">
    <h3><fa-icon [icon]="faLaptopFile"></fa-icon> Experience </h3>
    <app-underline-svg class="text-center"></app-underline-svg>
      <ul>
        <li class="p-1 m-5">
          <u>Bachelors of computer Engineering ( 2010 - 2014 )</u>

        </li>
        <li>
          <u>Post Graduate ( 2021- 2022 )</u>
        </li>
      </ul>

  </div>
</div>
