<footer class="footer mt-4 min-vh-100">
  <div class="row d-flex justify-content-center align-items-center text-center">
    <h1 class="text-white text-bold mt-3" data-aos="fade-down" >Lets Connect</h1>
    <div class="col-md-8 ps-4 pe-4">

      <div class="card mt-5">

      <img
        src="../../assets/images/myself.jpg"
        width="120px"
        class="footer-image text-center rounded mx-auto d-block"
        data-aos="zoom-in"
        alt="...">

        <div class="card-body">
          <p class="card-text m-2 mt-0 mb-1 text-center " data-aos="fade-up">
            "Thank you for visiting my portfolio website!
            I hope you found the information and samples of my work helpful.
            If you would like to connect with me on LinkedIn, or via email, please feel free to reach out.
            I would be happy to connect and discuss any potential opportunities or projects.
            Thank you again for your interest in my work!"</p>

            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-md-4">
                <div
                  class="badge-base LI-profile-badge"
                  data-locale="en_US"
                  data-size="large"
                  data-theme="light"
                  data-type="HORIZONTAL"
                  data-vanity="yajuvendra-singh-thakur-56231891"
                  data-version="v1">
                  <button class="btn custom-btn">
                    <a class="badge-base__link LI-simple-link"
                    href="https://ca.linkedin.com/in/yajuvendra-singh-thakur-56231891?trk=profile-badge">
                    <img src="../../assets/images/linkedIn.png">LinkedIn
                    </a>
                  </button>

                </div>


              </div>
              <!-- <div class="col-md-4">
                <a href="#" class="btn btn-success m-5">Connect On Gmail</a>
              </div> -->
            </div>
        </div>
      </div>
    </div>
  </div>
</footer>
