
<div class="row min-vh-70 d-flex justify-content-center ">
  <!-- <app-underline-svg class="text-center" [lineType]="'singleLine'"></app-underline-svg> -->
  <div class="jack">
    <div class="col-md-5 p-5 mt-5 mb-5">
      <h1>Send Me A Message</h1>
      <hr>

      <form [formGroup]="contactMeForm">

        <div *ngFor="let inputConfig of formFieldConfiguration">
          <div class="form-group">
            <label [for]="inputConfig.id">{{ inputConfig.label }}</label>
            <input
              [type]="inputConfig.type"
              [class]="inputConfig.class"
              [formControlName]="inputConfig.formControlName"
              [id]="inputConfig.id"
              [placeholder]="inputConfig.placeholder"
            >
          </div>
        </div>

        <div class="form-group">
          <label for="inputMessage">Message</label>
          <textarea
            class="form-control"
            formControlName="messageFormControl"
            id="inputMessage"
            aria-describedby="enter message"
            placeholder="Enter Message"
            rows="3"
          >
          </textarea>
        </div>

      </form>
    </div>
  </div>
</div>
