
.row {
  background: url('../../../assets/images/mail-box.png') no-repeat;
  background-size: cover;
  // padding-top: 10%;
  // padding-bottom: 10%;
  // color: rgba(4, 110, 248, 0.8);
  color:white;

}
.jack{
  background: linear-gradient(to right,  rgba(4, 110, 248, 0.3) 0%, rgba(4, 110, 248,0.7) 100%)   // rgba(4, 110, 248, 0.642);

}
// 51, G:204, B:255
