
<div class="row min-vh-50 d-flex justify-content-center form_wrapper">
  <div class="form_container">
    <div class="col-md-5 p-5  mb-5">
      <h3>Send Me A Message</h3>
      <hr>
      <form [formGroup]="contactMeForm" (ngSubmit)="onSubmit()">

          <div class="form-group mt-3">
            <input
              type="text"
              class="form-control"
              formControlName="emailId"
              id="inputEmail"
              placeholder="Enter Email"
            >

          </div>
          <span *ngIf="!contactMeForm.get('emailId')?.valid && contactMeForm.get('emailId')?.touched" >
            <!-- <p><small> {{ contactMeForm.controls['emailFormControl'].errors?.['customError'] }} </small></p> -->
              <p *ngIf="contactMeForm.get('emailId')?.errors?.['required']"><small> This field is required. </small></p>
              <p *ngIf="contactMeForm.get('emailId')?.errors?.['email']"><small> Invalid email address. </small></p>
          </span>
          <div class="form-group mt-3">
            <input
              type="text"
              class="form-control"
              formControlName="subject"
              id="inputSubject"
              placeholder="Enter Subject"
            >
          </div>
          <span *ngIf="!contactMeForm.get('subject')?.valid && contactMeForm.get('subject')?.touched" >
            <!-- <p><small> {{ contactMeForm.controls['subjectFormControl'].errors?.['customError'] }} </small></p> -->
              <p *ngIf="contactMeForm.get('subject')?.errors?.['required']"><small> This field is required. </small></p>
              <p *ngIf="contactMeForm.get('subject')?.errors?.['maxlength']"><small> Max length is 50 characters. </small></p>
          </span>
          <div class="form-group mt-3">
            <textarea
              class="form-control"
              formControlName="message"
              id="inputMessage"
              aria-describedby="enter message"
              placeholder="Enter Message"
              rows="3"
            >
            </textarea>
          </div>
          <span *ngIf="!contactMeForm.get('message')?.valid && contactMeForm.get('message')?.touched" >
            <!-- <p><small> {{ contactMeForm.controls['messageFormControl'].errors?.['customError']  }} </small></p> -->

            <p *ngIf="contactMeForm.get('message')?.errors?.['required']"><small> This field is required. </small></p>
            <p *ngIf="contactMeForm.get('message')?.errors?.['maxlength']"><small> Max length is 200 characters. </small></p>
          </span>
        <hr>
        <div class="form-group mt-3 " *ngIf="!isSpinnerVisible && !isOTPFieldVisible">
          <button type="button" class="btn btn-dark btn-sm" [disabled]="!contactMeForm.valid" (click)="generateOTP()">Verify Email</button>
        </div>
        <div class="form-group mt-3 " *ngIf="isSpinnerVisible">
          <button class="btn btn-dark btn-sm" type="button" disabled>
            <span class="spinner-border spinner-border-sm text-white" role="status" aria-hidden="true"></span>&nbsp;
            <span class="text-white">Verifying...</span>
          </button>
        </div>
        <div class="form-group mt-3 row" *ngIf="isOTPFieldVisible">

          <div class="col-sm-3">
            <input class="form-control form-control-sm"
              formControlName="OTP"
              type="text"
              placeholder="Enter OTP"
              aria-label="Enter OTP">
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-dark btn-sm" [disabled]="!contactMeForm.valid" >Send</button>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-dark btn-sm" [disabled]="!contactMeForm.valid" (click)="generateOTP()" title="Regenrate OTP"> <i class="bi bi-arrow-clockwise"></i> </button>
          </div>

          <div class="col-sm-5 ">
            <small *ngIf="timer !== 0 ">Expires in {{ timer }} seconds.</small>
            <small *ngIf="timer === 0 ">OTP expired, regenerate OTP.</small>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
