
<div class="row min-vh-50 d-flex justify-content-center ">
  <div class="form_container">
    <div class="col-md-5 p-5  mb-5">
      <h3>Send Me A Message</h3>
      <hr>
      <form [formGroup]="contactMeForm">

          <div class="form-group mt-3">
            <input
              type="text"
              class="form-control"
              formControlName="emailFormControl"
              id="inputEmail"
              placeholder="Enter Email"
            >
          </div>

          <span *ngIf="!contactMeForm.get('emailFormControl')?.valid &&
                        contactMeForm.get('emailFormControl')?.touched" >
                        <!-- <p><small> {{ contactMeForm.controls['emailFormControl'].errors?.['customError'] }} </small></p> -->
                        <p *ngIf="contactMeForm.get('emailFormControl')?.errors?.['required']"><small> This field is required. </small></p>
                        <p *ngIf="contactMeForm.get('emailFormControl')?.errors?.['email']"><small> Invalid email address. </small></p>
          </span>


          <div class="form-group mt-3">
            <input
              type="text"
              class="form-control"
              formControlName="subjectFormControl"
              id="inputSubject"
              placeholder="Enter Subject"
            >
          </div>
          <span *ngIf="!contactMeForm.get('subjectFormControl')?.valid &&
                        contactMeForm.get('subjectFormControl')?.touched" >
                        <!-- <p><small> {{ contactMeForm.controls['subjectFormControl'].errors?.['customError'] }} </small></p> -->

                        <p *ngIf="contactMeForm.get('subjectFormControl')?.errors?.['required']"><small> This field is required. </small></p>
                        <p *ngIf="contactMeForm.get('subjectFormControl')?.errors?.['maxlength']"><small> Max length is 50 characters. </small></p>
          </span>
        <div class="form-group mt-3">
          <textarea
            class="form-control"
            formControlName="messageFormControl"
            id="inputMessage"
            aria-describedby="enter message"
            placeholder="Enter Message"
            rows="3"
          >
          </textarea>
        </div>
        <span *ngIf="!contactMeForm.get('messageFormControl')?.valid &&
                      contactMeForm.get('messageFormControl')?.touched" >
                        <!-- <p><small> {{ contactMeForm.controls['messageFormControl'].errors?.['customError']  }} </small></p> -->

                        <p *ngIf="contactMeForm.get('messageFormControl')?.errors?.['required']"><small> This field is required. </small></p>
                        <p *ngIf="contactMeForm.get('messageFormControl')?.errors?.['maxlength']"><small> Max length is 200 characters. </small></p>
        </span>
        <hr>
        <button type="submit" class="btn btn-dark" [disabled]="!contactMeForm.valid">Verify Email</button>
      </form>
    </div>
  </div>
</div>
