
<div class="row min-vh-50 d-flex justify-content-center form_wrapper">
  <div class="form_container">
    <div class="col-md-5 p-5  mb-5">
      <h3>Send Me A Message</h3>
      <hr>
      <form [formGroup]="contactMeForm" (ngSubmit)="onSubmit()">

          <div class="form-group mt-3">
            <input
              type="text"
              class="form-control"
              formControlName="emailFormControl"
              id="inputEmail"
              placeholder="Enter Email"
            >
            <span *ngIf="!contactMeForm.get('emailFormControl')?.valid && contactMeForm.get('emailFormControl')?.touched" >
            <!-- <p><small> {{ contactMeForm.controls['emailFormControl'].errors?.['customError'] }} </small></p> -->
              <p *ngIf="contactMeForm.get('emailFormControl')?.errors?.['required']"><small> This field is required. </small></p>
              <p *ngIf="contactMeForm.get('emailFormControl')?.errors?.['email']"><small> Invalid email address. </small></p>
            </span>
          </div>

          <div class="form-group mt-3">
            <input
              type="text"
              class="form-control"
              formControlName="subjectFormControl"
              id="inputSubject"
              placeholder="Enter Subject"
            >
            <span *ngIf="!contactMeForm.get('subjectFormControl')?.valid && contactMeForm.get('subjectFormControl')?.touched" >
            <!-- <p><small> {{ contactMeForm.controls['subjectFormControl'].errors?.['customError'] }} </small></p> -->
              <p *ngIf="contactMeForm.get('subjectFormControl')?.errors?.['required']"><small> This field is required. </small></p>
              <p *ngIf="contactMeForm.get('subjectFormControl')?.errors?.['maxlength']"><small> Max length is 50 characters. </small></p>
            </span>
          </div>

          <div class="form-group mt-3">
            <textarea
              class="form-control"
              formControlName="messageFormControl"
              id="inputMessage"
              aria-describedby="enter message"
              placeholder="Enter Message"
              rows="3"
            >
            </textarea>
            <span *ngIf="!contactMeForm.get('messageFormControl')?.valid && contactMeForm.get('messageFormControl')?.touched" >
              <!-- <p><small> {{ contactMeForm.controls['messageFormControl'].errors?.['customError']  }} </small></p> -->

              <p *ngIf="contactMeForm.get('messageFormControl')?.errors?.['required']"><small> This field is required. </small></p>
              <p *ngIf="contactMeForm.get('messageFormControl')?.errors?.['maxlength']"><small> Max length is 200 characters. </small></p>
            </span>
          </div>

        <hr>
        <div class="form-group mt-3 " *ngIf="!isSpinnerVisible && !isOTPFieldVisible">
          <button type="button" class="btn btn-dark btn-sm" [disabled]="!contactMeForm.valid" (click)="generateOTP()">Verify Email</button>
        </div>
        <div class="form-group mt-3 " *ngIf="isSpinnerVisible">
          <button class="btn btn-dark btn-sm" type="button" disabled>
            <span class="spinner-border spinner-border-sm text-white" role="status" aria-hidden="true"></span>&nbsp;
            <span class="text-white">Verifying...</span>
          </button>
        </div>

        <div class="form-group mt-3 row" *ngIf="isOTPFieldVisible">
          <div class="col-sm-6">
            <input class="form-control form-control-sm" type="text" placeholder="Enter OTP" aria-label="Enter OTP">
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-dark btn-sm" [disabled]="!contactMeForm.valid">Submit</button>
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-dark btn-sm" [disabled]="!contactMeForm.valid" title="Regenrate OTP"> <i class="bi bi-arrow-clockwise"></i> </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
