{
    "minify": false,
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "tsx": false,
        "decorators": true,
        "dynamicImport": true
      },
      "loose": false,
      "minify": {
        "compress": {
            "unused": true
        },
        "mangle": false
      },
      "target": "es2015",
      "baseUrl": "./"
    },
    "module": {
      "type": "es6"
    }
  }