<!-- <div class="container"> -->

<section class="banner ">
  <div class="layer">
    <div class="row mb-5">
      <app-nav></app-nav>
    </div>
    <div class="row">
      <!-- <div class="col-md-4">
        <div class="parallax-col-1 text-start ms-5 ps-5">
          <img [src]="profileImg" width="150px" >
        </div>
      </div> -->
      <div class="col-md-12  pe-5 text-white text-bold" data-aos="fade-down" data-aos-duration="3000">
        <div class="parallax-col-2 text-end m-5">
          <h4>Hello, I am </h4>
          <h1>Yajuvendra</h1>
          <h6>Angular | Full Stack | Web Developer</h6>
          <button class="btn btn-danger"><i class="bi bi-printer"></i> Resume </button>
        </div>
      </div>
    </div>
  </div>
</section>
