<!-- <div class="container"> -->

<section class="banner ">
  <div class="layer">
    <div class="row">
        <app-nav ></app-nav>
    </div>
    <div class="row ">
      <div class="col-md-12 text-end pe-5 text-white text-bold" data-aos="fade-down" data-aos-duration="3000" >
        <div class="parallax-2 ms-5">
            <h4 >Hello, I am  </h4>
            <h1 >Yajuvendra</h1>
            <h6 >Angular | Full Stack | Web Developer</h6>
            <button class="btn btn-danger"><i class="bi bi-printer"></i> Resume </button>
          </div>
      </div>
    </div>
  </div>
</section>

