
<div class="row d-flex min-vh-100 justify-content-center align-items-center">

  <div class="col-md-4 mt-5  text-center"
    data-aos="fade-up"
    data-aos-anchor-placement="top-bottom">
    <img src="../../assets/images/myself.jpg" width="300px" class="img-thumbnail " alt="...">
  </div>

  <div class="col-md-6  mt-5 mb-5 text-grey text-center"
    data-aos="fade-down"

    data-aos-anchor-placement="center-bottom">
    <h1><strong>BRIEF</strong></h1>
    <p>
      I am a skilled software developer with expertise in Angular, TypeScript and JavaScript,
      I bring a strong work ethic, attention to detail, patience, adaptability
      and strong communication skills to the table. I also have  working knowledge
      technologies such as MongoDB, MySQL, NodeJs, JQuery, Html/Css, Java, Spring, Docker, Azure and ReactJS.
      My ability to solve problems and develop innovative solutions,
      coupled with my ability to work well in a team,
      makes me an asset to any organization.
      I am dedicated to delivering high-quality results and
      exceeding expectations in every project I work on.
    </p>
  </div>
</div>
