
<app-connect></app-connect>

  <app-banner>
    <div class="row" bannerContent>
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <h1 class="flex-header-h1">Portfolio</h1>
        <div class="text-content p-3 ">
         <h4><strong> <fa-icon  [icon]="faQuoteLeft" ></fa-icon ></strong> Have Some Questions? <fa-icon  [icon]="faQuoteRight" ></fa-icon ></h4>
        </div>
      </div>
    </div>
  </app-banner>

<!-- <app-chat-box></app-chat-box> -->
<div class="card" style="width: 18rem;" >
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">

    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>

  </div>
</div>
<app-chat-box></app-chat-box>
<app-footer></app-footer>
