
.strength {
  font-size: calc(13px + (14 - 13) * ((100vw - 300px)/ (1300 - 300)));

  div{
    height: 100px;
    border: none;
  }
  h1{
    color: white;
    text-align: center;
  }
}
.parallax {
  background:url("../../../assets/images/pexels-burst.jpg") fixed no-repeat;
  background-size: cover;
}
.inner-parallax {
  padding-bottom:5%;
  background: rgba(4, 110, 248, 0.7) ;
  position: relative;
}
@media (max-width: 420px) { // for Mobile

  .parallax {
    background: url("../../../assets/images/pexels-burst-mobile.png") fixed no-repeat ;
    background-size: cover;
  }

}
