<div class="row">

  <div class="col-md-4  pb-5" *ngFor="let item of projectContent">
    <div class="custom-card d-flex justify-content-center">
      <a [href]="item.href">
        <img [src]="item.imageSrc" >
      </a>
    </div>
  </div>
  <!--
    <div class="col-md-4  pb-5">
      <div class="custom-card d-flex justify-content-center">
        <a [href]="_urls.jcp2">
          <img [src]="_images.jcpImg2" >
        </a>
      </div>
    </div>
    <div class="col-md-4  pb-5">
      <div class="custom-card d-flex justify-content-center">
        <a [href]="_urls.portfolio">
          <img [src]="_images.portfolio" >
        </a>
      </div>
    </div>
  -->

</div>



