

  <div class="row footer m-2">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 p-3 m-5 contact-me">
        <div class="row">
          <div class="col-md-10 ">
            <h4>Ready For The Next Project ?</h4>
            <h6>Lets Get Started!</h6>
          </div>
          <div class="col-md-2 text-center p-3">
            <button class="btn footer-contact-button ">Contact Us</button>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-3 p-4 ">

        <p><strong>Information</strong></p>

          <li>abc</li>
          <li>abc</li>
          <li>abc</li>

      </div>

      <div class="col-md-3 p-4">
        <p>Menu</p>

          <li>Home</li>
          <li>Portfolio</li>
          <li>About Me</li>
          <li>Contact Me</li>
      </div>


      <div class="col-md-3 p-4">
        <p>Follow me</p>
        <i class="bi bi-facebook "></i>
        <i class="bi bi-linkedin"></i>
        <i class="bi bi-envelope-at-fill"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-github"></i>
      </div>

      <div class="col-md-3 p-4">
        <p><strong>Copyright</strong></p>


      </div>
    </div>

  </div>

<!-- AIzaSyC6t4c0n7jCxG73k3nVdCmrJkRpyQeUcc0 -->

<!--
  footer back ground - #151c2b
  icon color and sub footer - #8384d1
  lets connect -#3f4352
-->
