
.footer {
  overflow:visible !important;
  color:white !important;
  background-color: #151c2b;
  li {
    display: inline;
    margin-right: 1%;
  }
}

.contact-me {
  background-color: #8384d1;
  box-shadow: -10px -10px 0px rgb(209, 211, 213,0.2);
}
.footer-contact-button {
  background-color: #5c5c5b;
  color:white;
}
