<app-banner>

  <div class="row" bannerContent>
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <h1 class="flex-header-h1">About Me</h1>
      <div class="text-content">
        <p>  I am a professional software developer with 5 years of experience in software design,
        development, and integration. Offering advanced knowledge of Javascript, Typescript, Angular Framework, Java ,Spring,
        Hibernate , Jquery and Javascript.
        Writing code and creating Web applications is my background.
        </p>
      </div>

    </div>
  </div>
  <!-- <fa-icon [icon]="faGraduationCap"></fa-icon> -->
</app-banner>
<!-- <app-my-qualification></app-my-qualification>
<app-my-experience></app-my-experience> -->

<app-my-resume></app-my-resume>
