<app-banner>

  <div class="row" bannerContent>
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <h1 class="flex-header-h1">About Me</h1>
      <div class="text-content">
        <p>I am a professional software developer with more than 4 years of experience in software design,
        development, and integration. Offering advanced knowledge of Java ,Spring,
        Hibernate, Angular Framework, Typescript , Jquery and Javascript programming languages.
        Writing code and creating Web applications is my background.
        </p>
      </div>

    </div>
  </div>

</app-banner>

<!-- About Me.
I am a professional software developer with more than 4 years of experience in software design,
development, and integration. Offering advanced knowledge of Java ,Spring,
Hibernate, Angular Framework, Typescript , Jquery and Javascript programming languages.
Writing code and creating Web applications is my background. -->
