.banner{
  background:url("../../../assets/images/footer.jpg") no-repeat;
  height: 90vh;
  background-size: cover;
}
.custom-btn {
  cursor: pointer;
  &:hover {
    border: 1px solid lightgray;
  }

}
