<div class="row banner text-bg-secondary d-flex justify-content-center align-items-center ">
  <div class="col-md-8 min-vh-100 text-center">

    <h1 class="text-bold m-5" data-aos="fade-down" >Lets Connect</h1>
    <div class="card m-4">

      <img
      [src]="myselfImg"
      width="120px"
      class=" mt-5 text-center rounded mx-auto d-block"
      data-aos="zoom-in"
      alt="...">

      <p class="m-5 text-secondary" data-aos="fade-up">
        "Thank you for visiting my portfolio website!
        I hope you found the information and samples of my work helpful.
        If you would like to connect with me on LinkedIn, or via email, please feel free to reach out.
        I would be happy to connect and discuss any potential opportunities or projects.
        Thank you again for your interest in my work!"
      </p>
      <button class="btn custom-btn">
        <a class="badge-base__link text-white LI-simple-link"
        href="https://ca.linkedin.com/in/yajuvendra-singh-thakur-56231891?trk=profile-badge">
        <img src="../../assets/images/linkedIn.png" > <span class="text-secondary">LinkedIn</span>
        </a>
      </button>
    </div>
  </div>
</div>
