
<ul class="connect">
  <li><img [src]="facebook" width="25" height="25"></li>
  <li><img [src]="github" width="25" height="25"></li>
  <li><a class="badge-base__link LI-simple-link" href="https://ca.linkedin.com/in/yajuvendra-singh-thakur-56231891?trk=profile-badge"><img [src]="linkedIn" width="25" height="25"></a></li>
  <li><img [src]="gmail" width="25" height="25"></li>
  <li><img [src]="instagram" width="25" height="25"></li>
  <!-- <li>
    <a class="badge-base__link LI-simple-link"
      href="https://ca.linkedin.com/in/yajuvendra-singh-thakur-56231891?trk=profile-badge"><i class="bi bi-linkedin" title="Linkedin"></i></a>

  </li> -->

  <!-- <li><i class="bi bi-facebook" title="Facebook"></i></li>
  <li><i class="bi bi-instagram " title="Instagram"></i></li>
  <li><i class="bi bi-github " title="Github"></i></li>
  <li><i class="bi bi-envelope-at-fill" title="Mail"></i></li> -->
</ul>




