.connect {
  position: fixed;
  z-index: 10;
  top: 35vh;
  background-color: white;
  border-radius: 0px 5px 5px 0px;
  font-size: x-large;
  padding:1%;
  list-style-type: none;
  box-shadow: 1px 1px 3px grey;
  li {
    cursor: pointer;
  }
}
