<div class="chat-area" *ngIf="toggleChatArea">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><span>Leave a message</span></h5>
      <div class="chats">
      </div>

      <img [src]="underConstruction"  class ="underConstruction" >

      <form class="chat-form" >
        <div class="row">
          <div class="col-md-9">
            <div class="mb-3">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-primary"><i class="bi bi-send-fill"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
