$blue-color: rgba(4, 110, 248);
$white-color: white;
$red-color: rgb(220, 53, 69);

@mixin navigation($position,$z-index,$mt) {
  width: 100vw;
  position: $position;
  text-align: center;
  z-index:$z-index;
  margin-top: $mt;

}
@mixin activeAnchor($bgColor, $textColor){
  // li{
  //   &:hover{
      a {
        background-color: $bgColor;
        color: $textColor !important;
        border-radius: 3px;
      }
  //   }
  // }
}
@mixin navAnchor ($textColor) {
  a {
    text-decoration: none;
    color: $textColor;
    font-weight: lighter;
    padding: 1%;
  }
}
ul{
  display: inline;
  padding: 1%;
  li {
    margin: 1%;
    display: inline;
  }

}
.nav-default {
  @include navigation(absolute,10, 1%);
  @include navAnchor($white-color);
  li{
    &:hover{
      @include activeAnchor($white-color, $blue-color);
    }
  }

}
.active-link {
  @include activeAnchor($white-color, $blue-color);
}
.nav-scroll {
  @include navigation(fixed, 10, 0%);
  @include navAnchor($white-color);
  background-color: $blue-color;
  li{
    &:hover{
      @include activeAnchor($white-color, $blue-color );

    }
  }
  font-weight: bold;
  padding: 2%;
  box-shadow: 0px 0px 5px lightsteelblue inset;
}
.custom-card {
  position: fixed;
  z-index: 10;
  background-color: $white-color;
  color: $white-color !important;
  border: $white-color;
  text-align: right;
  border-radius: 50%;

  p{
    margin-bottom: 0;
    font-weight: lighter !important;
    font-size: smaller;
  }
  h4 {
    margin-bottom: 0;
    font-weight: lighter !important;
  }

  box-shadow: 2px 2px 4px darkslategray;
}

.hide-sticky-nav {
  display: none;
}


@media only screen and (max-width: 420px) { // for Mobile
  .custom-card {
    display: none;
  }
}

