.chat-area{
  z-index: 91;
  position: fixed;
  bottom:9%;
  right:1%;
  box-shadow: 2px 2px 5px grey;
  // padding: 1% 1% 0% 1%;
  border-radius: 2%;
  .card {

    box-shadow: 0px 0px 5px solid grey;
    height:60vh;
    width: 50vh;

  }

}
