<div class="row mt-5 text-center">
  <h2 class="mt-5"> My Resume </h2>
  <app-underline-svg class="text-center"></app-underline-svg>
  <div class="col-md-5 text-left me-5 ms-5 p-3">

      <h4><fa-icon class="font-color" [icon]="faLaptopFile"></fa-icon> Experience </h4>

        <ul>
          <li class="p-1 m-5 ">
            <u>Bachelors of computer Engineering ( 2010 - 2014 )</u>

          </li>
          <li>
            <u>Post Graduate ( 2021- 2022 )</u>
          </li>
        </ul>


  </div>
  <div class="col-md-5 text-left me-5 ms-5 p-3">

      <h4><fa-icon class="font-color" [icon]="faGraduationCap"></fa-icon> Qualification </h4>

        <ul>
          <li class="p-1 m-5">
            <u>Bachelors of computer Engineering ( 2010 - 2014 )</u>

          </li>
          <li>
            <u>Post Graduate ( 2021- 2022 )</u>
          </li>
        </ul>


  </div>
</div>
