<div class="row mt-5  d-flex justify-content-center">
  <h2 class="mt-5 text-center"> My Resume </h2>
  <app-underline-svg class="text-center" [lineType]="'doubleLine'"></app-underline-svg>



  <app-custom-card  class="col-md-4 " [customCardHeaderContent]="'Qualification'"  >
    <div  *ngFor="let item of qualificationDetails" customCardContent>
      <h4 class="font-color">{{item.year}}</h4>
      <!-- <app-underline-svg  [lineType]="'singleLine'"></app-underline-svg> -->
      <h6><strong>{{item.courseType}}</strong> </h6>
      <p><small>{{ item.course}}</small></p>
      <p>{{item.content}}</p>

    </div>
  </app-custom-card>

  <app-custom-card class="col-md-4 " [customCardHeaderContent]="'Experience'">
    <div *ngFor="let item of experienceDetails" customCardContent>
      <h4 class="font-color">{{item.year}}</h4>

      <h6><strong>{{item.organisationName}}</strong></h6>
      <p><small>{{ item.role}}</small></p>
      <p>{{item.content}}</p>

    </div>
  </app-custom-card>


  <!--

    <h4><fa-icon class="font-color" [icon]="faGraduationCap"></fa-icon> Qualification </h4>
    <h4><fa-icon class="font-color" [icon]="faLaptopFile"></fa-icon> Experience </h4>

  -->

</div>
