<ul class="navbar-nav nav-default">
    <li class="nav-item active">
      <a class="" [routerLink]="'/home'" (click)="isMenuCollapsed = true"> Home</a>
    </li>
    <li class="nav-item">
      <a class="" [routerLink]="'/portfolio'" (click)="isMenuCollapsed = true">  Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="" [routerLink]="'/contactMe'" (click)="isMenuCollapsed = true"> About Me</a>
    </li>
    <li class="nav-item">
      <a class="" [routerLink]="'/contactMe'" (click)="isMenuCollapsed = true"> Contact Me</a>
    </li>
</ul>
<!--
<ul class="navbar-nav nav-scroll">
  <div class="custom-card p-3 border"
  data-aos="fade-down"
  data-aos-duration="3000">
    <p>Hello, I am</p>
    <h4>Yajuvendra</h4>
  </div>
  <li class="nav-item active">
    <a class="" [routerLink]="'/home'" (click)="isMenuCollapsed = true"> Home</a>
  </li>
  <li class="nav-item">
    <a class="" [routerLink]="'/portfolio'" (click)="isMenuCollapsed = true"> Portfolio</a>
  </li>

  <li class="nav-item">
    <a class="" [routerLink]="'/contactMe'" (click)="isMenuCollapsed = true"> About Me</a>
  </li>
  <li class="nav-item">
    <a class="" [routerLink]="'/contactMe'" (click)="isMenuCollapsed = true"> Contact Me</a>
  </li>
</ul> -->
