<section class="banner" [ngStyle]="{
  'background': 'url('+ bannerImageStyling.background +') no-repeat'  ,
  'height': bannerImageStyling.height,
  'background-size': bannerImageStyling.backgroundSize}">

  <div class="layer" [ngStyle]="{
    'background-image': bannerLayerStyling.backgroundimage,
    'height': bannerLayerStyling.height,
    'position':  bannerLayerStyling.position
  }">

    <div class="row mb-5">
      <app-nav></app-nav>
    </div>
    <div class="row">
      <div class="col-md-12  pe-5 text-white text-bold"
        data-aos="zoom-out-down"
        data-aos-duration="1000"
        *ngIf="bannerTextStyling.isTextVisible">
        <div class="parallax-col-2 text-end m-1" >
          <ng-content select="[bannerContent]">
          </ng-content>
        </div>
      </div>
    </div>
  </div>
</section>
