
<ul class="connect">
  <li class="p-1"><img [src]="facebook" width="25" height="25" title="Facebook"></li>
  <li class="p-1"><img [src]="github" width="25" height="25" title="Github"></li>
  <li class="p-1"><a class="badge-base__link LI-simple-link" href="https://ca.linkedin.com/in/yajuvendra-singh-thakur-56231891?trk=profile-badge"><img [src]="linkedIn" title="Gmail" width="25" height="25"></a></li>
  <li class="p-1"><img [src]="gmail" width="25" height="25" title="Gmail"></li>
  <li class="p-1"><img [src]="instagram" title="Instagram" width="25" height="25"></li>
</ul>




